@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .wrapper{
    position: relative;
  }
  .b-b-width {
 
    width:0%;
}
  .PrefectCard {
 
    height:0%;
    
}


.wrapper:hover .PrefectCard{
  -webkit-transition: height 1s ease-in-out;
  -moz-transition: height 1s ease-in-out;
  -o-transition: height 1s ease-in-out;
  transition: height 1s ease-in-out;
  height:100%;
}


.wrapper:hover .b-b-width {
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;

  width:100%;
}

}