@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .wrapper{
    position: relative;
  }
  .b-b-width {
 
    width:0%;
}
  .PrefectCard {
 
    height:0%;
    
}


.wrapper:hover .PrefectCard{
  -webkit-transition: height 1s ease-in-out;
  -moz-transition: height 1s ease-in-out;
  -o-transition: height 1s ease-in-out;
  transition: height 1s ease-in-out;
  height:100%;
}


.wrapper:hover .b-b-width {
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;

  width:100%;
}
.ripple {
  
  animation: ripple 1s linear infinite;
  border-radius: 50%;
}
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 .7rem rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 0 0 0 8rem rgba(255, 255, 255, 0);
  }
}
.test {
  display: flex;
  overflow-x: auto;
}
.test img {
  margin-right: 15px;
}
.test::-webkit-scrollbar {
  display: none;
}

}